[2021-10-01 06:47] hosseinfani opened #1 "Crawling news' url from tweets"
In order to evaluate our community detection on an underlying application (extrinsic evaluation), we choose news recommendation. For this evaluation, we need to build a gold standard of news articles and the users who mentioned the url of the news articles in their tweets, meaning that they are interested in the topics of the news article (polarity does not matter for our sake).

So, we need to cr

[2021-10-01 20:13] soroush-ziaeinejad opened #2 "Tagme option for news"
t

[2021-10-07 17:00] soroush-ziaeinejad opened #3 "Adding results to GitHub Readme"

[2021-10-07 17:02] soroush-ziaeinejad opened #4 "Adding intrinsic evaluation if GS exists."
MI, HS, RI, V-measure

[2021-10-07 17:05] soroush-ziaeinejad opened #5 "Adding temporal graph embedding methods to GEL"
Add some methods.
Hossein has sent a paper for that
We have AE, RNN, AERNN now thanks to DynamicGEM

[2021-10-07 17:23] soroush-ziaeinejad opened #6 "Adding the baseline code in ECIR2020 paper to the repository"
It's in C++

[2021-10-11 20:44] soroush-ziaeinejad opened #7 "Clustering measures"
For the situation that we have the golden standard.

[2021-10-11 20:48] soroush-ziaeinejad opened #8 "Regression on embedded graphs"
To have two options in CPL: identity regression | regression on embedded graphs

[2021-10-11 21:00] soroush-ziaeinejad opened #9 "Time interval option"
Time intervals are daily now. I should add more options

[2021-10-12 03:31] hosseinfani commented on #5
https://github.com/benedekrozemberczki/pytorch_geometric_temporal

[2021-10-15 04:15] hosseinfani commented on #7
@soroush-ziaeinejad
Good job!
You do clean and clear coding. Thank you.

[2021-10-15 04:15] #7 closed

[2021-10-16 09:59] #4 closed, assigned to soroush-ziaeinejad

[2021-10-16 10:00] #2 closed

[2021-10-17 04:51] soroush-ziaeinejad opened #10 "Golden Standard Generation"
A piece of code to generate the 'golden_standard'-like table.

[2021-10-17 04:55] soroush-ziaeinejad opened #11 "Recording a video of our framework features"

[2021-10-17 05:18] soroush-ziaeinejad opened #12 "Dr. Samet Comments"
UML acronym change
Input-output specification for each layer

[2021-10-17 17:12] soroush-ziaeinejad opened #13 "Direct Clustering"
Applying a clustering method directly on the embedded graph

[2021-10-19 00:27] soroush-ziaeinejad commented on #3
I prepared a nice table but GitHub doesn't allow CSS!! So the result table looks like a plain table now.

[2021-10-23 07:02] #5 closed, assigned to soroush-ziaeinejad

[2021-10-24 21:21] soroush-ziaeinejad opened #14 "Clean code"

[2021-10-26 03:01] soroush-ziaeinejad opened #15 "Update params in Readme"

[2021-10-26 13:55] #15 closed, assigned to soroush-ziaeinejad

[2021-11-09 16:16] hosseinfani commented on #11
@soroush-ziaeinejad
any update?

[2022-01-17 07:04] soroush-ziaeinejad opened #16 "2021.SIGIR.Group based Personalized Search by Integrating Search Behaviour and Friend Network"
**Main problem:**
Document re-ranking and search personalization using multiple friend circles and individual search history. The method of this paper is called FNPS.

**Existing shortcomings:**

- Some of the existing methods highly rely on historical activities.
- Sometimes search history of a user is not enough or unavailable (So cannot be used)
- Considering users’ similarities, existing metho

[2022-01-17 07:09] hosseinfani commented on #16
Thanks. Very good summary. Is the code available?

[2022-01-17 15:38] soroush-ziaeinejad commented on #16
@hosseinfani Please let me know if something is missing in my summary. Thanks.

[2022-01-17 15:48] soroush-ziaeinejad commented on #16
Thanks Hossein. Yes, I found the code but it's just the implementation of the model. So, I updated the summary and added the 'Code' section.

[2022-01-18 09:54] soroush-ziaeinejad opened #17 "2021.IJCAI.User as Graph User Modeling with Heterogeneous Graph Pooling"
### Main problem:
This paper introduces a method for user modeling considering the dependency between user behaviors that are obtained from users’ clicks on the news articles and calls it **_User-as-Graph (UaG)_**. It also represents a method for heterogeneous graph pooling using graph neural networks to learn user interest embedding. The main goal is to predict the clicks on news articles.

### E

[2022-01-18 09:56] soroush-ziaeinejad commented on #17
@hosseinfani, Please take a look at the google scholar page of the first author. How a PhD student can submit 27 papers in one year?!
https://scholar.google.com/citations?hl=en&user=OG1cMswAAAAJ&view_op=list_works&citft=1&email_for_op=soroushziaeinejad%40gmail.com&sortby=pubdate

[2022-01-18 17:38] hosseinfani commented on #17
@soroush-ziaeinejad thank you. I really like your summaries.
please look at his homepage. you'll be more surprised :)

[2022-01-18 20:46] soroush-ziaeinejad commented on #17
Thanks Hossein. Yes I saw that too!! It's not normal at all :D

[2022-01-19 06:09] soroush-ziaeinejad opened #18 "2021.SIGIR.ConsisRec Enhancing GNN for Social Recommendation via Consistent Neighbor Aggregation"
### Main problem:
The main problem is trying to find a way to alleviate the cold start issue. This paper proposed a method to empower the GNN (that is used in other works) to resolve the social inconsistency problem.
### Social inconsistency problem:
Two connected users in the social graph are not necessarily interested in the same topic. Also, being connected with an item does not always mean tha

[2022-01-20 23:09] soroush-ziaeinejad commented on #18
@hosseinfani

1. They don't specifically address the cold-start problem. They mention that because of the cold-start problem, we have to use social information and connections to improve recommender systems. The main issue in social connection extracting that they want to address is social inconsistency.
2. Inconsistency is defined as existing irrelevant or opposite relation between users with exp

[2022-01-21 22:02] hosseinfani opened #19 "@soroush-ziaeinejad Survey on Community-enhanced IR"

[2022-01-26 05:24] soroush-ziaeinejad opened #20 "Change the code to read from CSV files instead of DB"
@jalalshabo
Please put your questions for this task as a comment under this issue.

[2022-01-26 05:37] soroush-ziaeinejad opened #21 "Crawl newer tweets"
@jalalshabo
For this task, please write a code to extract tweets. Try to write it in a dynamic way so we can adjust arguments easily. For now, I think the most important arguments are the date range (ex. 2020-1-1 to 2020-5-1) and the number of users.

[2022-01-26 05:45] soroush-ziaeinejad opened #22 "Find a better topic modeling approach (instead of LDA) for short text"
@jalalshabo
Please do some research (and maybe based on your experience) and find a better topic modeling approach for tweets. LDA works fine on long text (it's also good for tweets) but applying a specific topic modeling method is preferred. If you have any questions about the topic modeling and existing methods you can add them as comments here.

[2022-01-26 15:38] hosseinfani commented on #21
Hi @jalalshabo and @soroush-ziaeinejad , please put this in the lower priority among the other tasks.

[2022-01-28 19:29] soroush-ziaeinejad opened #23 "Installation issue"
Due to the various libraries that we have used in this implementation, there are a couple of issues with the installation process. The task is to make the framework installable with just one click.

[2022-01-28 19:34] soroush-ziaeinejad opened #24 "more interesting results and visualizations"
We have to generate more interesting results and visualizations for our framework.
TBD

[2022-01-30 22:11] jalalshabo commented on #20
I am able to read from the CVS, simply need to work on the layout of the data and such to work with the exisiting code. Will discuss my questions with soroush.

[2022-01-30 22:20] jalalshabo commented on #22
Biterm and GSDMM seems to be the most prominant topic modeling solutions for smaller text. Will do more research and and find the pros and cons to each method.

[2022-02-05 03:04] soroush-ziaeinejad commented on #20
Hi @jalalshabo
Let me know if you have more questions about this issue. We have to finish the coding by Feb 8th and start to revise and write the paper to submit to SIGIR 22 conference. If you've had any progress on this issue, please let me know. Thanks.

[2022-02-05 17:53] jalalshabo commented on #20
hello @soroush-ziaeinejad

I will try to have it done by Sunday night, I will let you know if any issues come up.

[2022-02-05 17:55] soroush-ziaeinejad commented on #20
Okay @jalalshabo Thank you.

[2022-02-11 03:00] soroush-ziaeinejad commented on #20
Hi @jalalshabo,

Well done! Thank you so much for your clean code and your comments. It's exactly what I expected. I will merge your code, make some changes and let you know to test the whole package installation on your system in a couple of days.

[2022-02-11 03:51] hosseinfani commented on #20
@jalalshabo and @soroush-ziaeinejad
please ask Jalal to create a pr and then make the changes on the pr. finally merge it to the codeline. thanks.

[2022-02-11 06:18] soroush-ziaeinejad opened #25 "Generating CSV files"
Our database is too huge. This issue is created for four tasks related to this problem.

1- sub-sampling .sql files
2- load sub-samples files into a SQL core to create tables
3- export two CSV files for each table. One (bigger) to train the model, and one (smaller) to put on GitHub for execution and test.
4- upload the smaller CSV files on GitHub

[2022-02-13 11:06] soroush-ziaeinejad commented on #14
Added CSV data
Code structure now makes more sense
Plug and play modules
All adjustable parameters are now are in params.py separated by their related layer

[2022-02-13 18:06] soroush-ziaeinejad opened #27 "Users similarities problem"
The similarities between users are not calculated properly. That's why there is a strict threshold for them to be connected to each other. Thresholds lower than 0.7 make a huge community but thresholds greater than 0.75 just keep communities that their members have exactly the same connections (Which is also not a good thing! There are multiple nodes with **exactly** the same connections in the us

[2022-02-14 08:34] hosseinfani commented on #27
Not sure I understood. We can discuss this in our weekly meeting.

[2022-02-15 22:35] #17 closed

[2022-02-15 22:36] #16 closed

[2022-02-15 22:37] #18 closed

[2022-02-17 17:56] soroush-ziaeinejad opened #28 "Change the library for Louvain"
sknetwork library has some issues when there is no link between graph nodes. I am going to use leidenalg library which has more options such as temporal graph clustering. It could be one of our baselines to compare with our graph embedding idea.

[2022-02-18 18:09] jalalshabo commented on #22
After some more research it seems that GSDMM will be the most likely effective approach to topic modeling for short text. Though LDA and GSDMM performace seems to be similar some research has shown that topic stability which measures the persistence of the extracted topics from different runs seems to be much more consistant with GSDMM topic modeling.

[2022-02-18 18:30] hosseinfani commented on #22
@jalalshabo
Thank you. Can you please share the link to the paper?

[2022-02-18 18:44] hosseinfani commented on #22
not from top conference tho!

[2022-02-18 20:00] hosseinfani commented on #21
@jalalshabo @soroush-ziaeinejad
I think for our research purposes, we don't need new tweets. We have another dataset of the huge amount of tweets (~200GB).  it's already annotated with tagme too. I suggest starting working on that.

[2022-02-18 20:10] soroush-ziaeinejad commented on #21
@hosseinfani
Great! Is it in SQL or CSV format? Yes, we can take a look and start working on it. I am a little bit worried about the loading process!

[2022-02-18 20:40] hosseinfani commented on #21
the rar is 200GB. in sql. it contains 10 months of the year 2010, if I'm not wrong. I'm finding the stat on it.

[2022-02-22 18:24] jalalshabo commented on #22
Yes, sorry for the late reply. Below is the research paper.

https://www.semanticscholar.org/paper/A-dirichlet-multinomial-mixture-model-based-for-Yin-Wang/d03ca28403da15e75bc3e90c21eab44031257e80?p2df

[2022-02-23 19:30] hosseinfani commented on #22
@jalalshabo
thanks. this is from A* conference!

[2022-02-25 21:10] #20 closed

[2022-03-01 06:23] soroush-ziaeinejad commented on #22
Hello @jalalshabo,

It seems an interesting move to use this method in our framework (called SEERa from now on) as our based topic modeling method or as a baseline to compare our model with. For now, please try to download and run this package (https://github.com/jackyin12/MStream) on their own sample, then try to change its parameters and let us know about your experience working with that (issue

[2022-03-26 07:24] chrisyzw commented on #16
Thank you! But the video link does not work anymore. Is it still available?

[2022-03-27 04:28] soroush-ziaeinejad commented on #16
Thank you for your interest in reading this summary. Yes, you are right. Unfortunately, the video is no longer available.

[2022-04-01 05:51] soroush-ziaeinejad opened #29 "Evaluation: Relative Cross Entropy (RCE)"
This metric measures how much better a predictor is compared to a naive prediction. It seems so fit for our news article recommendation application.

RCE = 100 × (Reference Cross Entropy − Cross Entropy) / Reference Cross Entropy

[2022-04-01 12:06] soroush-ziaeinejad opened #30 "ECIR2021.User Engagement Prediction for Clarification in Search"
Why did I choose this paper? Because clarification can be easily mapped to query expansion task.

### Main problem:
The problem is to predict the user engagement level in clarification questions in search queries to find out when and how a clarification question should pop up in order to increase user satisfaction. A sample clarification question is when a user puts the query "how to set up a list

[2022-04-01 12:07] soroush-ziaeinejad opened #31 "ECIR2021.An Enhanced Evaluation Framework for Query Performance Prediction"

[2022-04-01 12:08] soroush-ziaeinejad opened #32 "SQE-GAN: A Supervised Query Expansion Scheme via GAN"

[2022-04-01 12:09] soroush-ziaeinejad opened #33 "ECIR2021.Tweet Length Matters: A Comparative Analysis on Topic Detection in Microblogs"

[2022-04-01 12:30] hosseinfani commented on #33
@soroush-ziaeinejad where is the body?!

[2022-04-01 12:31] hosseinfani commented on #32
@soroush-ziaeinejad where is the body?!

[2022-04-01 12:32] soroush-ziaeinejad commented on #33
Will be added today. I wanted to put them in to-do list now.

[2022-04-13 06:41] #11 closed

[2022-04-13 06:41] #12 closed

[2022-04-13 06:43] #23 closed

[2022-04-15 03:14] soroush-ziaeinejad commented on #30
@hosseinfani Summary is updated.

[2022-04-19 20:09] soroush-ziaeinejad opened #34 "Submitting the demo paper"
### Demonstrations

- Max. 5 pages + max. 1 additional page for references
- (Required) unpublished page describing how they would present the demo virtually and/or in person
- (Optional) video or external material demonstrating the system (**_We already have this_**)
- Presentation as a (potentially virtual) demo + poster at the conference

**Description:** Demonstrations will showcase research p

[2022-07-15 01:14] soroush-ziaeinejad opened #36 "News Crawling"
A piece of code to retrieve the news articles from the links.

[2022-07-15 01:31] soroush-ziaeinejad commented on #36
The code is running right now for 1,577,200 links (~10M dataset) and it takes about 2 days to be completed.

[2022-07-15 16:53] soroush-ziaeinejad commented on #36
Steps:

1. TweetEntities loaded
2. NaN entities dropped
3. For each chunk of data (Expanded URLs), 4 URLs (short, expanded, display, source) + text + title + description + publication timestamp are retrieved and stored.

**Update:** Based on the running progress, crawling all links takes about 5-7 days.

The crawler is running on Google Colab and is accessible via this link:
https://colab.research

[2022-07-15 17:21] hosseinfani commented on #36
Hi @soroush-ziaeinejad
code is crawling the current webpages of the URLs. What if the page is updated? We discussed that you can use archive's API to crawl the page during the timespan of the dataset.

also why the code is separate from the codebase? please put it in the seera repo in the apl layer.
Assume there is a tweets_entities.csv in ./data or ./data/toy folder

[2022-07-15 17:39] soroush-ziaeinejad commented on #36
Hi @hosseinfani,

I checked archive.org for a couple of links. First of all, it's too slow and it takes about 45 seconds to load a webpage. They have saved a lot of web pages in 40-60 snapshots for each URL and I think the search algorithm is the bottleneck. Secondly, it doesn't have all of our links and we will get a lot of 'Hrm. The Wayback Machine has not archived that URL.' messages. Thirdly,

[2022-07-15 17:44] hosseinfani commented on #36
ok then.
the tweet_entities.csv in the data folder (15MB) ==> is this for the toy dataset of tweets? If not, make it consistent with the toy dataset.

[2022-07-15 17:53] soroush-ziaeinejad commented on #36
@hosseinfani
I will check. Right now, we have just the Tweets.csv in the toy data folder. I will add other tables as well.

[2022-07-19 23:20] soroush-ziaeinejad opened #37 "Stats of the toy news dataset + TAGME issue"
@hosseinfani,

The stats of the toy news dataset is like this:

| rows                               | 33,788 |
|------------------------------------|--------|
| text-available rows                | 26,447 |
| average text length (words)        | 401.7  |
| title-available rows               | 31,631 |
| average title length (words)       | 6.6    |
| description-available rows         | 22,624 |

[2022-07-19 23:57] hosseinfani commented on #37
@soroush-ziaeinejad
thank you.
Agree. In the next iteration, we have to refactor the pipeline when `tagme=true` is selected.
Just for our future reference, if tagme selected, we have to do it in a lazy load way, that is, load the tweets/news that have tagme annotations if exist, otherwise 1) tagme each tweet/news, 2) save them finally in `./data/toy/preprocessed/tweets|news.tagme.csv`

please do t

[2022-07-20 01:05] #25 closed

[2022-07-20 01:06] hosseinfani commented on #22
@soroush-ziaeinejad
log the progress for integrating the new topic modeling here. thank you.

[2022-07-20 01:12] hosseinfani commented on #30
@soroush-ziaeinejad
thank you for the nice summary.

[2022-07-20 01:12] #30 closed

[2022-07-20 01:14] #21 closed

[2022-07-20 01:16] #34 closed

[2022-07-20 17:34] soroush-ziaeinejad opened #38 "DynamicGEM issues"
1. When calling AERNN, it calls __future__ library which is available from python 3.7. Thus, in yml file, python 3.7 or 3.8 should be mentioned.

[2022-07-20 18:22] soroush-ziaeinejad commented on #38
tensorflow-gpu==1.11.0 is not available for python 3.7 and newer!!

[2022-07-20 18:47] soroush-ziaeinejad commented on #38
@hosseinfani

Can you please run:
from dynamicgem.embedding.dynAERNN import DynAERNN
on the system that you installed dynamicgem and let me know the result?

Thanks

[2022-07-20 19:00] soroush-ziaeinejad commented on #38
I think commenting "#from __future__ import annotations" out in "site-packages\seaborn-0.12.0b2-py3.6.egg\seaborn\axisgrid.py" will resolve the problem

[2022-07-20 19:04] soroush-ziaeinejad commented on #38
Now it's training

[2022-07-21 03:38] hosseinfani commented on #38
but the dynamicgem works in python 3.6. AERNN is part of dynamicgem?

[2022-07-21 03:40] hosseinfani commented on #38
I know. we deal with gpu issues in the next round of code refactoring.

[2022-07-21 03:45] soroush-ziaeinejad commented on #38
The AERNN calls another library (seaborn) which import __future__ library and this library is not available for python 3.6 and older. I commented out import future and it worked fine. Now the cpl part 2 (the bottleneck) is running on the workstation.

[2022-07-21 05:55] hosseinfani commented on #38
I found the reason. DynamicGem wants seaborn>=0.9.0. The current version of seaborn (0.12) needs python 3.7.
I believe if you put seaborn==0.9.0 or 0.11.0, in *our* environment.yml and requirement.txt, dynamicgem sees that and won't look for latest version. I checked it and it worked.

[2022-07-23 00:14] hosseinfani commented on #36
@soroush-ziaeinejad
I close this issue. Later, when you want to make it parallel, create a new one.

[2022-07-23 00:14] #36 closed

[2022-07-23 00:14] #37 closed

[2022-08-01 17:46] soroush-ziaeinejad opened #39 "Graph embedding results"
Setting 1:
----------------
**Epochs:** 150
**Dimension:** 128
**embedding.max():** 0
**embedding.min():** 0

Setting 2:
----------------
**Epochs:** 10
**Dimension:** 64
**embedding.max():**  0.0017
**embedding.min():** -0.0019

[2022-08-01 17:49] hosseinfani commented on #39
@soroush-ziaeinejad
this is related to #38 . delete this issue and put these there.

[2022-08-01 18:43] soroush-ziaeinejad commented on #38
### **Graph embedding results**

Setting 1:
----------------
**Epochs:** 150
**Dimension:** 128
**embedding.max():** 0
**embedding.min():** 0

Setting 2:
----------------
**Epochs:** 10
**Dimension:** 64
**embedding.max():**  0.0017
**embedding.min():** -0.0019

Setting 3:
----------------
**Epochs:** 10
**Dimension:** 128
**embedding.max():**  0.0054
**embedding.min():** -0.0061

[2022-08-09 01:45] hosseinfani opened #40 "Adding TwitterLDA or any topic modeling for short texts"
We need to add a topic modeling method that are specifically for short texts, like TwitterLDA

[2022-08-09 20:17] soroush-ziaeinejad opened #41 "DynRNN training issue"

[2022-08-10 16:28] hosseinfani opened #42 "Installation of SEERa"
@Sharjeeliv
This is an issue page to log your progress for set up seera. Please let us know of any concerns/questions in this regard.

[2022-08-23 01:57] hosseinfani commented on #42
Hey @Sharjeeliv
Hope you're doing well. Any update?

[2022-08-23 13:06] Sharjeeliv commented on #42
Hi Professor,
Apologies for the delay, things have been hectic with the coop term coming to an end. Initially, I had issues with TensorFlow 1.11.0 since I have python 3.9 globally. To mitigate this I used pyenv to create a local 3.6.15 installation. However, now I am getting the following error:

[code]

[2022-08-24 18:26] hosseinfani commented on #42
@soroush-ziaeinejad
any idea? the issue is with matplotlib. I think the 3.0 version should be installed on p3.6.

@Sharjeeliv have you tried conda and environment.yml?

[2022-08-24 18:34] soroush-ziaeinejad commented on #42
@hosseinfani @Sharjeeliv

Matplotlib=='3.0.1' for Windows and =='3.3.4' for linux are tested and they're compatible with tensorflow=='1.11.0' and python3.6.

The problem may be solved using conda (please try and let us know) but we have to fix the pip issue anyways.

[2022-08-29 01:25] Sharjeeliv commented on #42
When using Conda to install I got the following error. Since you mentioned in our meeting that we are not using the TensorFlow-gpu, and the pip installation only included TensorFlow, by removing tensorflow-gpu from the yml file the installation was successful.

Was this correct? Or is there another way to fix the below error?

[code]

[2022-08-29 01:37] hosseinfani commented on #42
@Sharjeeliv
yep. that's correct. seera is not gpu ready yet.

Ok, now you can trace lines of code when run on the toy data and figure out the story of each layer.

[2022-08-31 20:58] hosseinfani commented on #14
@soroush-ziaeinejad
While I was refactoring the code, I noted the following issues/concerns. You may fix them already. Please have a look and let me know what do you think.

 DataPreperation.py line 42#Hossein: what if there is no concept identified for a post => filter empty strings

 check other configs:
 tagme
 time only => there is no userid => the pipeline breaks at uml, gel, ...
 no user no

[2022-08-31 22:04] soroush-ziaeinejad commented on #14
@hosseinfani
Thanks for your comments.

1- We do not add a post with empty string after preprocessing, filtering, and removing stopwords.
2- Tagme, time-only, and user-only configs have been already fixed and tested.
3- Due to the massive changes in usersimilarity.py I cannot follow which lines you mean. We can discuss it in person.

Thanks.

[2022-09-04 23:57] hosseinfani commented on #42
Hi @Sharjeeliv
Any update on your progress?

[2022-09-05 19:20] Sharjeeliv commented on #42
Hello Sir,

I've been reading the code to try to understand what's going on. However, when I try to run it I get the following error. I thought the malletHome param might cause the issue since it's a hardcoded path, but changing it doesn't seem to fix the issue (and it also changes back into the original path??).

I'm in the process of reading the documentation for the packages.

[code]

[2022-09-05 20:25] hosseinfani commented on #40
@soroush-ziaeinejad
I explained this task to @farinamhz . She is going to implement this for us. Please help her in this regard.

[2022-09-06 03:37] soroush-ziaeinejad commented on #40
@hosseinfani

Awesome! Sure.

@farinamhz Welcome to the club!

[2022-09-06 18:52] farinamhz commented on #40
Thank you so much.
I will start and share my progress on this task soon.

[2022-09-06 18:55] farinamhz commented on #40
Thank you so much @soroush-ziaeinejad
I will start and share my progress on this task soon. @hosseinfani

[2022-09-09 02:31] hosseinfani commented on #42
Hi @Sharjeeliv
Sorry for my late reply. Please expedite this step as we need you to embark on coding very soon.

[2022-09-09 02:38] hosseinfani opened #43 "Extrinsic Evaluation on News Recommendation"
Currently, we recommend news articles to the future communities based on the topics of communities today, although the future communities are formed based on their history of topics of interest from the past to today. This is because we lose the topic information when we form the user communities in future, that is, we don't have access to the topics of interest in future communities. We only know

[2022-09-09 02:40] hosseinfani opened #44 "News item recommendation w/o community information"
@soroush-ziaeinejad
We need to figure out the benefit of external knowledge about user communities compare to lack there of. Now, we have the results when the recommendation are based on the user communities. But we need to add the results when such info is not available, that is, directly recommend the news items to the users, not knowing the communities.

[2022-09-09 05:03] #27 closed

[2022-09-09 05:04] #14 closed

[2022-09-09 05:08] #22 closed

[2022-09-09 05:09] #38 closed

[2022-09-09 05:11] #24 closed

[2022-09-09 14:20] hosseinfani commented on #3
@soroush-ziaeinejad
Let's keep this open to put our own results for news recommendation w/ and w/o community information for all topics models and all temporal graph embeddings.

[2022-09-09 21:40] Sharjeeliv commented on #42
Ok, I will try to finish this weekend. If possible, I would like to see how you or Soroush have it set up and work on it (i.e. PyCharm).

[2022-09-09 23:51] hosseinfani commented on #42
@soroush-ziaeinejad
would you please set up a quick meeting with @Sharjeeliv for the installation? Thank you.

[2022-09-12 20:12] farinamhz commented on #29
### TO BE CONTINUED (It is just a draft)

### **Topic Modeling**
Topic modeling is an unsupervised method for classifying documents. More specifically, it helps to have a better understanding of a collection of documents and also better search results through the documents.
For example, if we have a document related to _health_ and _insurance_, one of the results of a query which is ""  probably w

[2022-09-12 21:10] hosseinfani commented on #29
Hi @farinamhz
Are you sure you're putting your summary in the correct issue page? I see no relation between lda and rce?

[2022-09-12 21:29] farinamhz commented on #40
### TO BE CONTINUED (It is just a draft)

### **Topic Modeling**
Topic modeling is an unsupervised method for classifying documents. More specifically, it helps to have a better understanding of a collection of documents and also better search results through the documents.
For example, if we have a document related to _health_ and _insurance_, one of the results of a query which is ""  probably w

[2022-09-12 21:31] farinamhz commented on #29
Hello @hosseinfani,
I am sorry, I posted my summary in the wrong place. I fixed it.

[2022-09-12 23:55] farinamhz opened #45 "Setup and Quickstart of SEERa"
@hosseinfani @soroush-ziaeinejad
This is an issue page to log my progress for setup and quickstart of SEERa.

[2022-09-12 23:56] farinamhz commented on #45
@hosseinfani @soroush-ziaeinejad

As a log of progress, the setup part of SEERa is finished by me.

1. Conda env has been activated

1. Also, additional libraries listed below are installed successfully:
    - MAchine Learning for LanguagE Toolkit (mallet)
    - Gibbs Sampling algorithm for a Dirichlet Mixture Model (GSDMM)
    - DynamicGem

[2022-09-13 00:56] hosseinfani commented on #45
@farinamhz
thanks. are you able to run seera on the toy.synthetic?

[2022-09-13 00:59] hosseinfani commented on #40
@farinamhz
this is good.
- can we use lda to model users' topics of interest?
- can we use lda to model reviews aspects?

[2022-09-13 19:34] Sharjeeliv commented on #42
Is it okay if I drop by your office to discuss research things, or should I keep everything here

[2022-09-13 19:55] hosseinfani commented on #42
@Sharjeeliv
For sure. I'm at our lab now (215 essex hall).

[2022-09-15 13:22] Sharjeeliv commented on #42
Hi, Professor @hosseinfani

Could you please post the SEERa project on the Outstanding Scholars Sharepoint? I need to complete the form before Wed Sep 21st.

Progress:
- Updated TemplateParams, pending test run

[2022-09-15 20:05] hosseinfani commented on #42
@Sharjeeliv let me know the link for the sharepoint please.

[2022-09-15 21:10] Sharjeeliv commented on #42
https://uwin365.sharepoint.com/sites/OSRECORDS/Lists/Project%20Proposal%20Admin/AllItems.aspx
The outstanding student council said to contact Dr. Tim Brunet to make a posting if you can't access it already.

[2022-09-15 21:17] hosseinfani commented on #42
@Sharjeeliv
done!

[2022-09-18 23:06] Sharjeeliv commented on #42
Update:
- SEERa has been installed and successfully executed (Mallet)
- Create a bash script and can load SEERa inside of Pycharm
- Pending runs with other options
- Project is not available to me on SharePoint yet, will keep tabs on this over the next few days

[2022-09-18 23:59] hosseinfani commented on #10
@soroush-ziaeinejad
what's this?

[2022-09-19 00:03] hosseinfani opened #46 "Compute the carbon footprint of our pipeline for each baseline"
@Sharjeeliv
When you're done with the installation of seera, as we briefly talked about carbon footprint of models, start this task. We want to know what is the carbon footprint of each baseline (topic modeling  by graph embedding)

Here is the helpful link to find the library that calculates carbon footprint of a model:
https://twitter.com/ZetaVector/status/1547916747507871744?s=20&t=MZWEJDzLVUSx

[2022-09-19 00:05] hosseinfani commented on #44
@soroush-ziaeinejad
I think this the issue for results summary and analysis. Please explain the baselines, how the method works and how the evaluation happens on them. Also, put the results here with a brief analysis.

[2022-09-19 18:54] Lillliant opened #47 "Install and Test-run SEERa"
This is an issue page to log my progress setting up and test-running seera.

[2022-09-19 18:59] soroush-ziaeinejad commented on #10
@hosseinfani

It is for the toy example to have a toy golden standard for intrinsic evaluation testing

[2022-09-19 19:03] Lillliant commented on #47
So far, I have:

- successfully cloned seera onto my laptop
- downloaded anaconda (as an alternative since `pip` has issues with installing matplotlib)
- installed libraries using `conda env create -f environment.yml`
- tried to install DynamicGEM

The first time I tried to install DynamicGEM, I received an error that Microsoft Visual C++ 14.0 or greater is required. I tried it again today and it

[2022-09-19 19:27] hosseinfani commented on #10
@soroush-ziaeinejad
is it done or in progress?

[2022-09-19 19:29] hosseinfani commented on #47
@Lillliant
Thank you for the update. Let us know if we could help

[2022-09-19 19:29] soroush-ziaeinejad commented on #10
@hosseinfani
It's on hold. We may need it later but not now.

[2022-09-20 21:38] farinamhz commented on #42
I ran into the same issue with this description: "ValueError: Invalid topic modeling!"
Solution:
The problem was with the run command in the readme.

First, the run command was:
[code]

However, our options for the tml method are: 'lda.gensim', 'lda.mallet', and 'gsdmm'

So, the run command will be something like this:
[code]
I fixed it in the readme file.

[2022-09-20 21:54] farinamhz commented on #45
I tried to run seera on the toy.synthetic. However, it gives the following error. It has two problems:
First, graphs.pkl has not been created in all the levels.
Second, there is a problem with len_users that is not defined

[code]

[2022-09-20 22:14] hosseinfani commented on #45
@farinamhz
could you debug and find the problem?

[2022-09-21 00:49] farinamhz commented on #45
I defined the variable len_users = len(unique_users). However, in the next run, I got a similar error for a variable named limit.
Now, I am not sure about the limit value to put there.

[code]

@soroush-ziaeinejad could you please take a look at this one?

[2022-09-21 16:09] soroush-ziaeinejad commented on #45
@farinamhz It seems you could properly install SEERa! There is a minor bug regarding your issue in the codebase. I will fix it by the end of tonight and will let you know. Thanks

[2022-09-22 02:49] soroush-ziaeinejad commented on #45
@farinamhz You should be able to run the code now. Please pull and try again. Let me know if you face any issues. Thanks.

[2022-09-23 22:20] farinamhz commented on #45
Thank you @soroush-ziaeinejad. I tried to run it and it was ok.
Now, I have a question about a metric which is success at 100. First, I saw the result of it on toy synthetic data and when I changed the part related to this from the user dictionary keys which was 3 to 100, the result did not change and it just copied the third success to all the rest of it till 100 instead of growing to 1. I copied

[2022-09-24 21:35] soroush-ziaeinejad commented on #45
Hi @farinamhz ,

Thanks for the report. I think we can talk about the first issue in our meeting as well. So, let me know of your availability and we can schedule a meeting then. Maybe tomorrow or Monday in the lab if it's okay.

[2022-09-24 21:44] Sharjeeliv commented on #46
For this task should I submit the code or the results? In the meantime, I've installed the package and I'm working on implementing it.

[2022-09-24 21:47] hosseinfani commented on #46
@Sharjeeliv
You can send pull request (pr) when you're sure that your code is ready to be merged to the codebase.

I already submitted the project and we're waiting for Dr. Kobti to confirm the project.  You can follow up from Dr. Kobti as well.

[2022-09-25 22:40] Lillliant commented on #47
Update:

I've installed all the packages and made a few test-runs. It looks like DynamicGEM can be successfully installed whenever seera is activated. Here are some errors that happened during my test runs:

[code]
Based on what I read from TensorFlow's documentation, I think this error is caused by not having Microsoft Visual C++ 14.0 or greater for TensorFlow to build during the runs. I've downl

[2022-09-25 22:53] hosseinfani commented on #47
@hosseinfani
please pull as there is a new version of code.
also, have a look at #45  and #42

If not resolved, drop by lab and @soroush-ziaeinejad or I can further help

[2022-09-26 15:00] Sharjeeliv commented on #46
Another update:
- I'm also learning to use git with GitHub as I do this task.

[2022-09-26 18:06] farinamhz commented on #45
Sorry for the late reply @soroush-ziaeinejad
I will be in the lab on Monday from noon onwards.

[2022-09-28 00:37] farinamhz commented on #40
1. Yes, we can do that and I have added this paper to my reading list because it seems that they have found each user’s interesting topics using LDA.
[Link to paper](https://www.researchgate.net/publication/316142138_Forum_Latent_Dirichlet_Allocation_for_User_Interest_Discovery)

2. I am still working on this topic.

[2022-09-28 00:39] farinamhz commented on #40
Also, I was looking for an example of Twitter LDA and found an interesting explanation of LDA in a readme of a repository on GitHub.
This is the repository link: https://github.com/t3abdulg/Twitter-Topic-Modelling
I copied the explanation below for myself and also because I think it may help others in the future too:

Assume we had only 3 topics in the world, and that each topic is represented by

[2022-10-01 21:39] Sharjeeliv commented on #46
### Update
- Implemented carbon footprint for each of the topic modelling LDAs (was it this or each embedding method?)
- Also added in a coloured log for the result (to make it more visible)
- Followed up with Dr. Kobti and Dr. Brunet to get the contract done
- Reviewed how to do pull requests and use git

### To-Do
- All of this is done on my local copy (which I got functional by experimenting wi

[2022-10-02 22:22] hosseinfani commented on #46
@Sharjeeliv
Thank you. I had a look at the log file. It shows you could successfully run the pipeline. Awesome.
However, I was not able to see the carbon footprint result. Looking forward to your pr. thanks.

[2022-10-04 01:45] Lillliant commented on #47
@hosseinfani @soroush-ziaeinejad

## Update

After pulling the new changes, installing MS Visual C++, reinstalling TensorFlow and h5py, I can now run SEERa on my laptop with the toy.synthetic data.

I've made a few test runs using the different topic modelling and graph embedding methods, and some of the combinations doesn't run successfully:
- lda.mallet and ae (stops working at GEL - Embeddings.

[2022-10-04 02:42] hosseinfani commented on #47
@Lillliant
Awesome.

You're right, there are some combinations that are not working properly. @soroush-ziaeinejad is working on them. Also, you can debug the code and see what/where is the problem (all the source is available and you can find the issue). Then try to fix it if you can.

Sure, I'll be at EH215 most of the weekdays (except mon-wed when I have classes). Also, @soroush-ziaeinejad will

[2022-10-05 03:03] farinamhz commented on #40
@hosseinfani  @soroush-ziaeinejad
My task is done. However, I did not know how to add the commits to this issue, so I pushed the commits and now I realized that I had to add the # of this issue to their message before committing to connect them to this issue.
Now, is there any way to change the message of all of them? (They are 7 commits and I can not just change the last one) or do I need to chan

[2022-10-05 03:33] hosseinfani commented on #40
@farinamhz
thank you. I will review your code and let you know my comments.
don't worry about the commit. next time attach the issue#.

[2022-10-05 03:44] hosseinfani commented on #40
@farinamhz
I reviewed the code. It looks readable. great job. please do the following:

- Add the required packages to the requirement.txt and environment.yml
- Edit the readme for this addition. Also, you may find some parts that are old. Fix them too.
- We have a colab script. Also, edit it accordingly and make sure it runs on the toy.synthesis for all available combinations. Please note that th

[2022-10-05 09:03] #45 closed

[2022-10-05 09:06] hosseinfani commented on #40
@farinamhz @soroush-ziaeinejad
I made some code changes to the TopicModeling.py statically and left some questions inside the code. Have a look, fix, and test after.

[2022-10-05 21:25] Sharjeeliv commented on #46
Hi Sir,
I've been sick this week so I haven't been able to wrap up and send pr, I will do this as soon as I feel I can (hopefully in 1-2 days).

[2022-10-06 03:13] hosseinfani commented on #46
@Sharjeeliv
Sorry to hear that. Wish you fast and full recovery.
Take your time and rest.

[2022-10-07 20:41] farinamhz opened #50 "Fixed the need to install libraries when they are not given in the input"
Now, whenever users are going to run the pipeline, even if they do not need a specific model in a specific layer, they need to install the libraries before running the pipeline, otherwise, they will get an error from the interpreter that does not recognize some libraries. For example, although users only want the LDA.mallet model in Topic Modeling Layer and they have not entered the gensim model a

[2022-10-07 20:49] farinamhz opened #51 "Same results of different models in Evaluation"
Two models in topic modeling layer (LDA.mallet and btm) give similar results for success in evaluation.

[2022-10-07 21:24] farinamhz commented on #51
@soroush-ziaeinejad
Could you please check the new code and test it to make sure that this bug is resolved to close the issue?

[2022-10-07 21:41] farinamhz opened #52 "Coherence score for gsdmm model in topic modeling layer"

[2022-10-07 21:43] soroush-ziaeinejad commented on #51
Hi @farinamhz ,

I have a problem with installing bitermplus. Could you please send me the version of bitermplus that you have installed?

[2022-10-09 13:07] hosseinfani commented on #40
@farinamhz @soroush-ziaeinejad
I believe we can close this issue. If any bugs are raised in future, either create new bug issue or attache this  issue to the push.

[2022-10-09 13:07] #40 closed

[2022-10-09 13:08] hosseinfani commented on #41
@soroush-ziaeinejad
I believe this is resolved, right? If so, please close it. tnx.

[2022-10-09 13:09] hosseinfani commented on #42
@Sharjeeliv
I believe you could successfully run seera. I close this issue then.

[2022-10-09 13:09] #42 closed

[2022-10-10 19:30] Sharjeeliv commented on #46
Update
- In the above log file if you search for emissions it will show you the carbon footprint.
- CodeCarbon also generates a file with more details after execution.
- Pulled new changes and am in the process of figuring out how to handle merge conflicts.
- Once I've successfully merged it, I will open a pr.

[2022-10-12 02:26] farinamhz opened #53 "Problem with a link in /gel directory"
There is a directory named Temporal-Network-Embedding in the path below that is linked to a website that does not exist anymore [(link](https://github.com/linhongseba/Temporal-Network-Embedding/tree/cb6cb461c6e50a817f1a268fc40566df505377cf))

[code]

@hosseinfani
@soroush-ziaeinejad

[2022-10-12 08:32] hosseinfani commented on #53
@farinamhz thanks for raising this.

@soroush-ziaeinejad you need to include tgis work as a baseline in ur pipeline

[2022-10-13 18:57] Sharjeeliv commented on #46
Update
- Everything has been merged
- Bitermplus is not installing
- Different parts of the pipeline are not working anymore ([log.txt](https://github.com/fani-lab/SEERa/files/9779694/log.txt))
- Trying to resolve the issues to bring it back to a working state

[2022-10-14 23:30] hosseinfani commented on #46
@Sharjeeliv
You only need to test your code on a running combination. Leave the bugs in other combinations to @soroush-ziaeinejad

[2022-10-20 03:20] Sharjeeliv commented on #46
I've opened a pr for this feature. The pipeline is not working for me, but since the feature has been done for some time and successfully tested on earlier versions, it seemed best to open the pr for review.

[2022-10-21 10:28] hosseinfani commented on #46
Hi @Sharjeeliv
Thank you.
There are some issues with your pr:
1) Please only include the files or changes that are necessary. I reviewed your pr and seems only `requirement.txt` and `TopicModeling.py` is necessary, am I right?

2) the carbon tracer only targets the topic modeling layer. However, we need to trace the whole pipeline. So, you should put it in the `main.py` here:

https://github.com/f

[2022-11-01 00:15] Lillliant opened #55 "Compute running time for pipelines in Pycharm (pstat)"
@hosseinfani @soroush-ziaeinejad
### Update
Pycharm has a feature to profile function execution time, call counts and call graphs, so I've been using it to profile the different pipeline combinations. GitHub doesn't seem to support the .pstat files, so I uploaded them to MS Teams for the time being. The files can be viewed using Tools>Open CProfile snapshot in Pycharm. When you hover over the func

[2022-11-01 00:48] hosseinfani commented on #55
@Lillliant Thanks for the update

@soroush-ziaeinejad Why the codeline is not stable anymore?

[2022-11-02 00:46] soroush-ziaeinejad commented on #55
Hi @hosseinfani and @Lillliant

I checked the latest code on GitHub and it worked for all combinations (except gsdmm due to a bug which is resolved, please pull) on toy.synthetic dataset. On bigger datasets, you might face MemoryError.

One thing that you should consider is parameter adjusting. For instance, setting the number of topics as 50 on toy.synthetic may cause very low weights for user gr

[2022-11-02 01:57] hosseinfani commented on #55
@Sharjeeliv fyi, see above.

[2022-11-03 14:39] Sharjeeliv commented on #46
Update
---
* I updated the codeCarbon based on the meeting, it is attached below
* I have contacted Soroush about the errors, so once this is resolved everything should be done

[code]

[2022-11-03 18:31] hosseinfani commented on #51
@soroush-ziaeinejad
Is this open or solved? If solved, close it please.

[2022-11-03 19:36] soroush-ziaeinejad commented on #51
@hosseinfani It is solved. I'll close it.

[2022-11-03 19:36] #51 closed

[2022-11-03 19:37] #47 closed

[2022-11-13 02:04] soroush-ziaeinejad opened #56 "Big Data issues"
This issue page is created to contain logs and QAs about running SEERa on huge datasets.

[2022-11-13 02:15] hosseinfani commented on #56
@soroush-ziaeinejad
Did you fix the problem with the two months? the data should span Nov. 1, 2010 to Jan1 2011

[2022-11-13 02:18] hosseinfani commented on #55
@Lillliant
Hi Christine, I expect you to update us weekly or so. Please work with @soroush-ziaeinejad to solve the performance issues. Thanks.

[2022-11-13 02:20] soroush-ziaeinejad commented on #56
Not yet. I'm working on fixing issues with data from Oct. 1st to Dec. 1st. Meanwhile, I will prepare the data from Nov. 1, 2010 to Jan1 2011

[2022-11-13 02:20] hosseinfani commented on #46
@Sharjeeliv
any update? can we have the log of the carbon for all combinations on toy sets?

[2022-11-13 02:22] hosseinfani commented on #56
Not sure I understood, is there any specific problem with data during oct1 time period that won't exist in nov1?

[2022-11-13 02:26] soroush-ziaeinejad commented on #56
No specific problem. It's just because preparing csv files takes time so I decided to work on this existing dataset and optimize the code as much as possible.

[2022-11-13 02:40] soroush-ziaeinejad commented on #56
for the dataset of **two months** of tweets, we have around **65K users**. Having user graphs for all time intervals, we generate an embedded user matrix with shape (65K, dim). Applying cosine similarity to this matrix will give us a matrix of size (65K, 65K). The point is, calculating the cosine similarity cannot be done with normal NumPy arrays, and with Sparse matrices, it takes a lot of time (

[2022-11-13 02:49] Lillliant commented on #55
Hi @hosseinfani @soroush-ziaeinejad, sorry for not posting the updates sooner. I think I'll be able to post more frequently now that most of my personal and school matters have resolved.

So far:
- gsdmm is working now for me, but lda.mallet and btm is still not working. I looked at Sharjeel's idea, so I was looking at my mallet setup on Windows.
    - For mallet, I've been testing with the differ

[2022-11-14 21:09] Sharjeeliv commented on #46
Yep, this was tested to work for all Gensim combinations, it does not work with Mallet (it has issues running bat file on macOS, I have not found a solution yet). Soroush recommended that I make it work for Gensim, and he'll test it out for Mallet.

[2022-11-15 03:48] hosseinfani commented on #46
@Sharjeeliv  thanks.
@soroush-ziaeinejad would you please verify this task and close this issue. Then, assign a new task to Sharjeel. Thanks.

[2022-11-15 03:52] soroush-ziaeinejad commented on #46
@Sharjeeliv Thank you for pr.
@hosseinfani Sure, I'll do it tomorrow.

[2022-11-15 19:52] soroush-ziaeinejad commented on #46
@hosseinfani,
Done.

Thanks, @Sharjeeliv

[2022-11-15 19:52] #46 closed

[2022-11-18 18:54] soroush-ziaeinejad commented on #56
@hosseinfani

I decided to work with ComputeCanada since I couldn't find a way to resolve the memory error for clustering graphs in CPL. Now I keep getting this error when I want to dump a graph into a pickle file:
OSError: [Errno 122] Disk quota exceeded

Do you have any idea? I searched and I found a solution but it didn't work. Another solution (which is not a good solution) is to run the code

[2022-11-19 02:25] Lillliant commented on #55
## Update
- Implemented line_profiler. Since it profiles every line, I decided to make it so that the result is stored in a separate file from Log.txt. The preliminary results can be seen here:
[LineProfile.txt](https://github.com/fani-lab/SEERa/files/10045846/LineProfile.txt)

## Next Step
- try to see if line profiler can profile function imported from other layers
- see if the file can be sorte

[2022-11-19 05:53] hosseinfani commented on #56
@soroush-ziaeinejad
@VaghehDashti I think you have to free some space as the disk quota is assigned per supervisor, I think.

[2022-11-19 19:45] soroush-ziaeinejad commented on #56
@hosseinfani @VaghehDashti
I think the problem is resolved for now. I'll let you know if I face it again.

[2022-11-26 03:35] Lillliant commented on #55
## Update
- added libraries in requirement.txt and environment.yml
- modified previous code so line profiling is performed on each combination of the tml and gel baselines, instead of the aggregated version for all combinations in total. The result is stored in the respective folders of the combinations, instead of in the same place as Log.txt to avoid cluttering
- read documentations on line prof

[2022-11-27 08:28] hosseinfani commented on #55
@Lillliant
Thank you for the PR and clean code/documentation :)

[2022-11-27 18:11] soroush-ziaeinejad opened #58 "Log file overwriting issue"
Hi @Sharjeeliv,

I created this issue page for your second task on SEERa. As you know, we log the outputs and messages for each run of SEERa. The problem is when we run it on the same folder, it overwrites the log file and we miss the previous information in this file.

For example, suppose SEERa has been run and lots of information is written for the topic modeling layer (2nd layer) and then we g

[2022-11-29 02:57] soroush-ziaeinejad commented on #55
Hey @Lillliant

Thanks for your PR. I didn't look at the code carefully but I get this error when I run the code with argument -p True.

main.py: error: unrecognized arguments: True

Should I change something?

[2022-11-29 03:00] Lillliant commented on #55
Hi @soroush-ziaeinejad, just the command line flag `-p` is sufficient to activate the profiler:
`python -u main.py -r toy -t [...] -g [...] -p`